<!DOCTYPE html>
<html>
<% include layout/layoutTop.ejs %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<% include layout/layoutBottom.ejs %>
<% include layout/script.ejs %>

</body>
</html>