<!DOCTYPE html>
<html>
<% include layout/head.ejs%>
<% include layout/layoutTop.ejs %>
<h1><%=title%></h1>
<div class="section">
    <h4>Список валют</h4>
    <form action="/" id="list">
        <!--   <div class="row">
               <div class="input-field col s6">
                   <button class=" btn waves-effect waves-light" type="submit">Подтвердить</button>
                   <button class=" btn waves-effect waves-light" type="reset">Отменить</button>
               </div>
           </div>-->
    </form>
</div>
<div class="section" id="chart">
    <h4>График</h4>
    <svg></svg>
</div>
<% include layout/layoutBottom.ejs %>
<!-- js -->
<% include layout/script.ejs %>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>

<script src="js/d3.min.js" charset="utf-8"></script>
<script src="js/nv.d3.js"></script>

<script src="js/main.js"></script>

</body>
</html>

