body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
#chart svg {
    margin: 0px;
    padding: 0px;
    min-height: 480px;
    height: 100%;
    width: 100%;
}